<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="SqlConnectionStr" value="Data Source=192.168.1.249;DataBase=CHLDB;UID=sa;pwd=Test2013" />
	</appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="WebUI.WebService.UserAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="WebUI.WebService.LoanAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="WebUI.WebService.CustomerAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="WebUI.WebService.User">
                <endpoint address="" behaviorConfiguration="WebUI.WebService.UserAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="WebUI.WebService.User" />
            </service>
            <service name="WebUI.WebService.Loan">
                <endpoint address="" behaviorConfiguration="WebUI.WebService.LoanAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="WebUI.WebService.Loan" />
            </service>
            <service name="WebUI.WebService.Customer">
                <endpoint address="" behaviorConfiguration="WebUI.WebService.CustomerAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="WebUI.WebService.Customer" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
