<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="SqlConnectionStr" value="Data Source=127.0.0.1;DataBase=CHLDB;UID=sa;pwd=123456" />
	</appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="WebUI.WebService.UserAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="WebUI.WebService.LoanAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="WebUI.WebService.CustomerAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="WebUI.WebService.RepaymentAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="WebUI.js.WebService.Service1AspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="WebUI.js.WebService.RepaymentServerAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="WebUI.WebService.User">
              <endpoint address="" behaviorConfiguration="WebUI.WebService.UserAspNetAjaxBehavior"
                  binding="webHttpBinding" contract="WebUI.WebService.User" />
            </service>
            <service name="WebUI.WebService.Loan">
                <endpoint address="" behaviorConfiguration="WebUI.WebService.LoanAspNetAjaxBehavior" binding="webHttpBinding" contract="WebUI.WebService.Loan" />
            </service>
            <service name="WebUI.WebService.Customer">
                <endpoint address="" behaviorConfiguration="WebUI.WebService.CustomerAspNetAjaxBehavior" binding="webHttpBinding" contract="WebUI.WebService.Customer" />
            </service>
            <service name="WebUI.WebService.Repayment">
                <endpoint address="" behaviorConfiguration="WebUI.WebService.RepaymentAspNetAjaxBehavior" binding="webHttpBinding" contract="WebUI.WebService.Repayment" />
            </service>
            <service name="WebUI.js.WebService.RepaymentServer">
                <endpoint address="" behaviorConfiguration="WebUI.js.WebService.RepaymentServerAspNetAjaxBehavior" binding="webHttpBinding" contract="WebUI.js.WebService.RepaymentServer" />
            </service>
        </services>
    </system.serviceModel>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
